/build
build/packages
/lib
/src/packages/
/src/*web*/dist
/tools/nunit
/tools/nant
/tools/IlMerge
bin
obj
*.user
*.ncrunchsolution
*.ncrunchproject
*.suo
.dropbox.attr
*.log
src/_NCrunch_Command.Bot/
**/bower_components
**/StyleCop.Cache

**/_NCrunch*
**/nCrunchTemp*
**/Command.Bot.Website/build/**
/src/Command.Bot.Console/app.config
/src/.vs/
**/.idea/
src/Command.Bot/appsettings.development.json
tools/*
.dotnet/dotnet-install.sh
dist/Command.Bot.1.0.0.Release/Command.Bot.Service.pdb
/dist
