language: csharp
mono: none
dist: xenial
dotnet: 2.0
sudo: required

services:
  - docker

addons:
  apt:
    packages:
      - gettext
      - libcurl4-openssl-dev
      - libicu-dev
      - libssl-dev
      - libunwind8
      - zlib1g
      - curl

script:
  - which dotnet
  - export ASPNETCORE_ENVIRONMENT=Development
  - dotnet --info
  - sh build.sh --target=Test

after_success:
  # Add docker images
  - pushd src/
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
  - echo branch $TRAVIS_BRANCH
  - if [[ "$TRAVIS_BRANCH"  =~ ^feature.*$ ]]; then
    docker build -t rolfwessels/command-bot:alpha .;
    docker push rolfwessels/command-bot;
    fi
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker build -t rolfwessels/command-bot:beta .;
    docker push rolfwessels/command-bot;
    fi
  - if [ "$TRAVIS_BRANCH" =~ ^v1.*$ ]; then
    docker build -t rolfwessels/command-bot:latest -t rolfwessels/command-bot:$TRAVIS_BRANCH .;
    docker push rolfwessels/command-bot;
    fi
  - popd
